.admin-container {
  height: calc(100% - 1rem);
  width: calc(100% - 1rem);
  margin: 0.5rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #78B3CE;
  border-radius: 50%;
  z-index: 1000;
  background-color: var(--text-color);
  width: 100px;
  height: 100px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.navbar:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.logo {
  height: 60px;
  width: auto;
  margin: 0;
}

.group-container {
  height: 100%;
  display: flex;
  flex-direction: column;

  background-color: transparent;
}

h1 {
  height: 10%;
  margin: 0;
  align-content: center;
}

/* Kanban Board Container */
.kanban-board {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
  width: calc(100% - 40px);
  height: 100%;
  overflow: hidden;
  color: #f0f0f0;
  overflow-x: auto;
}

/* Kanban Column */
.kanban-column {
  flex: 1;
  padding: 20px;  
  height: calc(90% - 40px);
  display: flex;
  flex-direction: column;
  min-width: 250px;
  margin: 0;
  background-color: transparent;
  border: 1px dashed #78B3CE;
  border-radius: 12px;
}

.kanban-column h2 {
  margin-bottom: 16px;
  font-size: 1.6rem;
  color: #ffffff;
  border-bottom: 2px solid #444;
  padding-bottom: 8px;
  text-align: center;
}

/* Kanban Item */
.kanban-item {
  list-style: none;
  padding: 12px 16px;
  background: linear-gradient(135deg, #C9E6F0, #C9E6F0);
  margin-bottom: 10px;
  border-radius: 8px;
  cursor: grab;
  text-align: left;
  color: #555555;
  font-size: 1rem;
  transition: transform 0.2s ease, background-color 0.2s ease,
    box-shadow 0.2s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.kanban-item:hover {
  background-color: #555555;
  transform: translateY(-3px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.kanban-item:active {
  cursor: grabbing;
  transform: scale(0.98);
  background-color: #444444;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

/* Scroll Behavior */
.kanban-board {
  overflow-x: auto;
}

.kanban-column {
  flex-shrink: 0;
}

/* Smooth Transitions */
.kanban-item,
.kanban-column {
  transition: all 0.3s ease-in-out;
}
h3 {
  font-size: 1.5rem;
  color: #000000;
  text-align: left;
  margin-bottom: 16px;
  border-bottom: 1px solid #444;
  padding-bottom: 8px;
}

/* Media Query for Smaller Screens */
@media (max-width: 768px) {
  .kanban-board {
    flex-direction: column;
    gap: 16px;
  }

  .kanban-column {
    width: 100%;
    min-width: unset;
  }
  .kanban-item {
    cursor: grab;
  }

  .kanban-item:active {
    cursor: grabbing;
  }

  .kanban-column.drag-over {
    background: linear-gradient(135deg, #3a3a3a, #444444);
    border: 2px dashed #ffffff;
  }

  .kanban-item.dragging {
    opacity: 0.5;
    transform: scale(1.05);
  }
 
}
