:root {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --background-color: #FBF8EF;
  --text-color: #78B3CE;
  --primary-color: #F96E2A;
  --primary-color-light: #FFA07A;
  --secondary-color: #C9E6F0;


  color-scheme: light dark;
  color: var(--text-color);
  background-color: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

/* Custom scrollbar for WebKit browsers */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: var(--secondary-color);
  border-radius: 6px;
  border: 2px solid var(--background-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--text-color);
  border-radius: 6px;
  border: 2px solid var(--background-color);
}

/* Custom scrollbar for Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--primary-color) var(--background-color);
}

